<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="keywords" content="<?=self::$keywords?>" />
    <meta name="description" content="<?=self::$description?>" />
    <title><?=self::$title?></title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="public/ma/css/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="public/ma/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="public/ma/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="public/ma/css/focus.css"/>
    <script type="text/javascript" src="public/ma/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="public/ma/js/js.js"></script>
    <script type="text/javascript" src="public/ma/js/wow.min.js"></script>

    <link rel="stylesheet" href="public/layer/theme/default/layer.css">
    <script src="public/layer/layer.js" type="text/javascript"></script>
</head>
<body>
<!--导航 start-->
<nav>
    <div class="nav_open txt_r color_f ft_18 "><em>MENU</em></div>
    <div class="nav_box none ft_55 txt_c">
        <div class="close txt_r dis"><img src="public/ma/img/close.png"></div>
        <ul>
            <li><a class="bor animated flipInX" href="index.php">Home</a></li>
            <li><a class="bor animated flipInX" href="index.php?p=show&c=index&a=about">About</a></li>
            <li><a class="bor animated flipInX" href="index.php?p=show&c=index&a=cases">Dsign</a></li>
            <li><a class="animated flipInY" href="index.php#lianxiwomen">联系我们</a></li>
        </ul>
        <p class="color_f ft_16 txt_l">备案号：蜀ICP备1500025</p>
    </div>
</nav>
<!--logo start-->
<div class="logo txt_c animated fadeInUp">
    <span><img src="public/ma/img/logo1.png"></span>
    <span><img src="public/ma/img/logo2.png"></span>
</div>
<!--logo end-->
<div class="banner"></div>

<!-- main start -->
<div class="main width_w">
    <!--说明 start -->
    <div class="explain txt_c  ">
        <h1 class="ft_72 animated wow bounceInLeft">Idea Transmitter</h1>
        <h2 class="animated wow fadeInUpBig"><span class="ft_48">it</span></h2>
        <p class="ft_30 p1 animated wow fadeInUpBig">We are delineators of our clients' thoughts and the communicato<br>communicators of their ideas</p>
        <p class="ft_18 p2 animated wow fadeInUpBig"><em>●</em>我们是客户思想的描绘师，想法的传达者</p>
        <p class="ft_14 p2 p3 animated wow fadeInUpBig">我们只做客户思想的描绘师，想法的传达者，以精准、独具匠心的视觉设计，数年来获得了客户的高度认可。<br>我们作为专业的广告设计公司,励拓深知视觉形象设计的独创性、复杂性、以及对于企业的重要性，这需要统一的视觉语言，迎合大众审美，把握时代潮流，<br>符合行业特性，凸显产品特征，作品直指客户的目标受众，达到展示企业形象和帮助销售的目的。</p>
        <a class="dis color_f ft_18 animated wow flipInY">了解我们...</a>
    </div>
    <!--案例 start -->
    <div class="case color_f">
        <?php for($i=0;$i<$totalPage;$i++):?>
        <dl>
            <dd>
                <?php foreach($indexDatas as $k=>$indexData):?>
                    <?php if(($k-$i*7)==0):?>
                        <div class="ca1">
                            <img src="<?=$indexData['fengmian']?>">
                            <div class="shade txt_c ft_18">
                                <p><?=$indexData['xiangmu']?><em>•</em><?=$indexData['mingcheng']?></p>
                                <h2 class="ft_36"><?=$indexData['fenlei']?></h2>
                                <a class="color_f detail" casesId="<?=$indexData['id']?>">查看此案例</a>
                            </div>
                        </div>
                    <?php endif;?>
                    <?php if(($k-$i*7)==1):?>
                        <div class="ca1 t2">
                            <img src="<?=$indexData['fengmian']?>">
                            <div class="shade txt_c ft_18">
                                <p><?=$indexData['xiangmu']?><em>•</em><?=$indexData['mingcheng']?></p>
                                <h2 class="ft_36"><?=$indexData['fenlei']?></h2>
                                <a class="color_f detail" casesId="<?=$indexData['id']?>">查看此案例</a>
                            </div>
                        </div>
                    <?php endif;?>
                <?php endforeach;?>
            </dd>
            <dd>
                <?php foreach($indexDatas as $k=>$indexData):?>
                    <?php if(($k-$i*7)==2):?>
                        <div class="ca1 t1">
                            <img src="<?=$indexData['fengmian']?>">
                            <div class="shade txt_c ft_18">
                                <p><?=$indexData['xiangmu']?><em>•</em><?=$indexData['mingcheng']?></p>
                                <h2 class="ft_36"><?=$indexData['fenlei']?></h2>
                                <a class="color_f detail" casesId="<?=$indexData['id']?>">查看此案例</a>
                            </div>
                        </div>
                    <?php endif;?>
                    <?php if(($k-$i*7)==3):?>
                        <div class="ca1 t2">
                            <img src="<?=$indexData['fengmian']?>">
                            <div class="shade txt_c ft_18">
                                <p><?=$indexData['xiangmu']?><em>•</em><?=$indexData['mingcheng']?></p>
                                <h2 class="ft_36"><?=$indexData['fenlei']?></h2>
                                <a class="color_f detail" casesId="<?=$indexData['id']?>">查看此案例</a>
                            </div>
                        </div>
                    <?php endif;?>
                <?php endforeach;?>
            </dd>
        </dl>
        <dl>
            <dd>
                <?php foreach($indexDatas as $k=>$indexData):?>
                    <?php if(($k-$i*7)==4):?>
                        <div class="ca1 t2">
                            <img src="<?=$indexData['fengmian']?>">
                            <div class="shade txt_c ft_18">
                                <p><?=$indexData['xiangmu']?><em>•</em><?=$indexData['mingcheng']?></p>
                                <h2 class="ft_36"><?=$indexData['fenlei']?></h2>
                                <a class="color_f detail" casesId="<?=$indexData['id']?>">查看此案例</a>
                            </div>
                        </div>
                    <?php endif;?>
                    <?php if(($k-$i*7)==5):?>
                        <div class="ca1 t2">
                            <img src="<?=$indexData['fengmian']?>">
                            <div class="shade txt_c ft_18">
                                <p><?=$indexData['xiangmu']?><em>•</em><?=$indexData['mingcheng']?></p>
                                <h2 class="ft_36"><?=$indexData['fenlei']?></h2>
                                <a class="color_f detail" casesId="<?=$indexData['id']?>">查看此案例</a>
                            </div>
                        </div>
                    <?php endif;?>
                <?php endforeach;?>
            </dd>
            <dd>
                <?php foreach($indexDatas as $k=>$indexData):?>
                    <?php if(($k-$i*7)==6):?>
                        <div class="ca1 t3">
                            <img src="<?=$indexData['fengmian']?>">
                            <div class="shade txt_c ft_18">
                                <p><?=$indexData['xiangmu']?><em>•</em><?=$indexData['mingcheng']?></p>
                                <h2 class="ft_36"><?=$indexData['fenlei']?></h2>
                                <a class="color_f detail" casesId="<?=$indexData['id']?>">查看此案例</a>
                            </div>
                        </div>
                    <?php endif;?>
                <?php endforeach;?>
            </dd>
        </dl>
        <?php endfor;?>
        <div class="more ft_36 txt_c wow animated fadeInUp"><a id="more" page="<?=$page?>"><b>查看更多･･･</b></a></div>
    </div>
    <!--案例 end -->
</div>
<!-- main end -->

<!-- start -->
<a name="lianxiwomen"></a>
<div class="qd_xx">
    <div class="bg_cor"></div>
    <div class="bj width_w">
        <h1 class="ft_36 txt_c color_f"><font class="ft_48">Contact us</font>我们期待您的到来！</h1>
        <div class="map">
            <p class="txt_c color_f animated wow flipInX">
                <span class="ft_60 pad_b_10"><em>成都</em><i class="ft_14 ">成华区</i></span>
                <a id="map" class="ft_30 color_f animated wow flipInX">查看地图</a>
            </p>
        </div>
        <p class="txt_r">成都市成华区建设路2号首创2幢2单元</p>


        <div class="demand ft_18">
            <h3 class="ft_36">填写您的项目需求</h3 >
            <dl>
                <dd class="d_l">
                    <span class="fl"><input id="lianxiren" type="text" class="ft_18" placeholder="联系人 "></span>
                    <span class="fl"><input id="qiyemingcheng" type="text" class="ft_18" placeholder="企业名称"></span>
                    <span class="fl"><input id="lianxidianhua" type="text" class="ft_18" placeholder="联系电话"></span>
                </dd>
                <dd class="d_l2">
                    <span class="fl txt_c"><textarea id="xiangmuxuqiu" placeholder="项目需求" class="ft_18 txt_l"></textarea></span>
                    <a class="fr">
                        <p>TELEPHONE:</p>
                        <p class="ft_50">028-8425-7279</p>
                    </a>
                </dd>
            </dl>
            <a class="complete color_f txt_c dis animated wow flipInY" id="wancheng">完成并发送</a>
        </div>

    </div>
</div>
<!-- end -->



<!-- footer start -->
<div class="foot">
    <div class="f_nav">
				<span id="tooltip" class="tb txt_c ft_16">
					<a>
						<img src="public/ma/img/wx.png" class="t-img">
						<div class="tooltip-item none" style="width:auto;left:0;">
							<img src="public/ma/img/ewm.png">
							<em></em>
						</div>
					</a>
					<a><img src="public/ma/img/qq.png" class="t-img">
					    <div class="tooltip-item txt_c none">
							<p>QQ：15247859654 dd@qq.com</p>
							<em></em>
						</div>
					</a>
					<a><img src="public/ma/img/phone.png" class="t-img">
					    <div class="tooltip-item txt_c none">
							<p>电话：15247859654</p>
							<em></em>
						</div>
					</a>
					<a><img src="public/ma/img/dw.png" class="t-img">
						<div class="tooltip-item txt_c none">
							<p>成都市建设路2号2栋2单元1302室</p>
							<em></em>
						</div>
					</a>
				</span>
        <span class="f_nav2 ft_18">
					<a href="index.php">回到首页</a>
					<a href="index.php?p=show&c=index&a=about#aboutUs">关于我们</a>
					<a href="index.php?p=show&c=index&a=cases">案列展示</a>
					<a href="index.php?p=show&c=index&a=about#partner">合作伙伴</a>
					<a href="#lianxiwomen">加入我们</a>
				</span>
    </div>
    <div class="width_w bq ft_16">
        <div>
            <span>版权所有：成都市励拓广告有限公司</span>
            <span>备案号：蜀ICP备1500025</span>
            <a>邮箱：20299705@qq.com</a>
            <a>http://www.cditad.com/</a>
        </div>
    </div>
</div>
<!-- footer end -->
<!-- map_dig start -->
<div class="map_dig none">
    <div class="zzc2"></div>
    <div class="mapbox">
        <a id="mapclose" class="txt_r"><img src="public/ma/img/map_close.png"></a>
        <img src="public/ma/img/map.png">
    </div>
</div>
<!-- 弹出框 start-->
<div class="Popup">
    <div class="zzc2"></div>
    <div class="popup_box">
        <h1 class="ft_16 color_y" id="mingcheng">林妹妹果茶</h1>
        <div class="about ft_18"><img src="public/ma/img/d2.png">ABOUT</div>
        <div id="dig_close" class="txt_r"><img src="public/ma/img/dig_colse.png"/></div>
        <!-- 轮播 -->
        <div class="focusBox">
            <div class="focus">
                <span id="prev"></span>
                <span id="next"></span>
                <span id="prevTop"></span>
                <span id="nextTop"></span>
                <!--大图 start-->
                <style>
                    .focus .picBox li{
                        position:relative;
                    }
                </style>
                <div id="picBox" class="picBox">
                    <ul class="cf">
                        <li><a href="#"><img id="bigPic1" src="public/ma/img/about.png"/></a></li>
                        <li><a href="#"><img id="bigPic2" src="public/ma/img/about.png"/></a></li>
                        <li><a href="#"><img id="bigPic3" src="public/ma/img/about.png"/></a></li>
                        <li><a href="#"><img id="bigPic4" src="public/ma/img/about.png"/></a></li>
                    </ul>
                </div>
                <div id="numct" class="numct ft_18">
                    <ul>
                        <li class="tk"><a>1</a></li>
                        <li><a>2</a></li>
                        <li><a>3</a></li>
                        <li><a>4</a></li>
                    </ul>
                </div>
                <!--小图 start-->
                <div id="listBox" class="listBox">
                    <div class="ft_12 cp_xx">
                        <p id="xiangmu">项目：产品摄影</p>
                        <p id="kehu">客户：四川顺翔农业开发有限公司</p>
                        <p id="chengguo">成果：帮助客户提高品牌及产品的知名度和美誉度，吸引消费者视线，提升购买欲。</p>
                    </div>
                    <!-- -->
                    <dl>
                        <dd class="d_ck"><a></a></dd>
                        <dd><a></a></dd>
                        <dd><a></a></dd>
                        <dd><a></a></dd>
                    </dl>
                    <!-- -->
                    <div style="position: relative; top:0; overflow: hidden;height: 332px;">
                        <ul class="cf">
                            <li class="on"><i class="arr2"></i><img id="smallPic1" src="public/ma/img/banner2.png"/></li>
                            <li><i class="arr2"></i><img id="smallPic2" src="public/ma/img/banner2.png"/></li>
                            <li><i class="arr2"></i><img id="smallPic3" src="public/ma/img/banner2.png"/></li>
                            <li><i class="arr2"></i><img id="smallPic4" src="public/ma/img/banner2.png"/></li>
                        </ul>
                        <div>
                        </div>
                        <!--小图 end-->
                    </div>
                </div>

                <!-- 轮播 -->
            </div>

        </div>
    </div>
</div>
<!-- 弹出框 end-->
<!-- map_dig end -->
<script src="public/ma/js/focus.js"></script>
<script type="text/javascript">
    new WOW().init();
</script>
<script type="text/javascript">
    $(".detail").click(function () {
        var casesId = $(this).attr("casesId");
        $.post("index.php?p=show&c=index&a=detail",{casesId:casesId},function (data) {
            console.log(data);
            $("#mingcheng").text(data.mingcheng)
            $("#bigPic1").attr("src",data.tupian1)
            $("#bigPic2").attr("src",data.tupian2)
            $("#bigPic3").attr("src",data.tupian3)
            $("#bigPic4").attr("src",data.tupian4)
            $("#xiangmu").text("项目："+data.xiangmu)
            $("#kehu").text("客户："+data.kehu)
            $("#chengguo").text("成果："+data.chengguo)
            $("#smallPic1").attr("src",data.tupian1)
            $("#smallPic2").attr("src",data.tupian2)
            $("#smallPic3").attr("src",data.tupian3)
            $("#smallPic4").attr("src",data.tupian4)
            $(".Popup").show();
        },"json")
//                $(".Popup").show();
    })
</script>
<!--加入我们-->
<script type="text/javascript">
    $(".Popup").hide();
    $("#listbox").hide();
    $("#wancheng").click(function () {
        var lianxiren = $("#lianxiren").val();
        var qiyemingcheng = $("#qiyemingcheng").val();
        var lianxidianhua = $("#lianxidianhua").val();
        var xiangmuxuqiu = $("#xiangmuxuqiu").val();
        if (lianxiren=="" || qiyemingcheng=="" || lianxidianhua=="" || xiangmuxuqiu==""){
            layer.alert("请填写完整信息")
            return false;
        }
        $.post("index.php?p=show&c=index&a=lianxiren",{lianxiren:lianxiren,qiyemingcheng:qiyemingcheng,lianxidianhua:lianxidianhua,xiangmuxuqiu:xiangmuxuqiu},function (data) {
            if (data.code==200){
                layer.open({
                    content: '提交成功！',
                    btn: ['确认'],
                    yes: function(index, layero) {
                        location.reload()
                    },
                });
            }else {
                layer.alert(data.msg)
                return false;
            }
        },"json")
    })

</script>
</body>
</html>
